---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic,700italic);
@import url(//fonts.googleapis.com/css?family=Source+Code+Pro);

// Our variables
$base-font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
$base-font-weight: 400;
$heading-font-family: $base-font-family;
$heading-font-weight: 300;
$monospace-font-family: Source Code Pro, monospace;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$figure-border-radius: 5px;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$muted-text-color: mix($text-color, $background-color, 66%);
$light-background-color: mix($text-color, $background-color, 5%);
$dark-background-color: mix($text-color, $background-color, 30%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "custom",
        "syntax-highlighting"
;
